name: CI
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - "1.20"
          - "1.21"
          - "1.22"
          - "1.23"
          - "1.24"
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run linters
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
      - name: Run tests
        run: go test ./... -v
